<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="m-auto w-50 p-3 bg-light">

    <label class="form-label" for="first-name">First Name: </label>
    <input class="form-control" id="first-name" type="text" formControlName="firstName">
  
    <label class="form-label" for="last-name">Last Name: </label>
    <input class="form-control" id="last-name" type="text" formControlName="lastName">
    <div formGroupName="address">
        <h2>Address</h2>
      
        <label class="form-label" for="street">Street: </label>
        <input class="form-control" id="street" type="text" formControlName="street">
      
        <label class="form-label" for="city">City: </label>
        <input class="form-control" id="city" type="text" formControlName="city">
      
        <label class="form-label" for="state">State: </label>
        <input class="form-control" id="state" type="text" formControlName="state">
      
        <label class="form-label" for="zip">Zip Code: </label>
        <input class="form-control" id="zip" type="text" formControlName="zip">
      </div>
      <div formArrayName="aliases">
        <h2>Aliases</h2>
        <button type="button" (click)="addAlias()">+ Add another alias</button>
      
        <div *ngFor="let alias of aliases.controls; let i=index">
          <label class="form-label" for="alias-{{ i }}">Alias:</label>
          <input class="form-control" id="alias-{{ i }}" type="text" [formControlName]="i">
        </div>
      </div>
    <p>Complete the form to enable button.</p>
    <button class="btn btn-primary w-50" type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
  <button class="btn btn-danger w-50 mt-5" type="button" (click)="updateProfile()">Update Profile</button>

  <p>Form Status: {{ profileForm.status }}</p>